# Datenbank
DATABASE_URL=
DIRECT_URL=

# NextAuth
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://twyne.ch

# Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=info@twyne.ch

# App
NEXT_PUBLIC_APP_URL=https://twyne.ch
NEXT_PUBLIC_SITE_NAME=Twyne

# Cron
CRON_SECRET=
